spring:
  application:
    name: hybridflow
  datasource:
    url: jdbc:h2:mem:hybridflowdb
    driverClassName: org.h2.Driver
    username: admin
    password: admin
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

api:
  security:
    token:
      secret: 4A404E635266556A586E3272357538782F413F4428472B4B6250645367566B59
      expiration: 86400000 # 24 hours
